:root {
	--main-blue: #56a5eb;
	font-size: 10px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #ecf5ff;
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
}

/* utilities */
.container {
	min-height: 100vh;
	max-width: 80rem;
	padding: 10px 15px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container > * {
	width: 100%;
}

.flex-center {
	justify-content: center;
	align-items: center;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.justify-center {
	justify-content: center;
}

.space-between {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.text-center {
	text-align: center;
}

.hidden {
	visibility: hidden;
}

h1,h2,h3,h4 {
	margin-bottom: 1rem;
}

h1 {
	font-size: 5.4rem;
	color: var(--main-blue);
	margin-bottom: 5rem;
}

h1 > span {
	font-size: 2.4rem;
	font-weight: 500;
}

h2 {
	font-size: 4.2rem;
	margin-bottom: 4rem;
	font-weight: 700;
}

h3 {
	font-size: 2.8rem;
	font-weight: 500;
}

/* Buttons */
.btn {
	font-size: 1.8rem;
	padding: 1rem 0;
	width: 20rem;
	text-align: center;
	border: 0.1rem solid var(--main-blue);
	margin-bottom: 1rem;
	outline: 0;
	text-decoration: none;
	color: var(--main-blue);
	background-color: white;
	cursor: pointer;
	transition: transform 0.15s ease-in-out;
}

.btn:hover {
	box-shadow: 0 0.4rem 0 rgba(86, 185, 235, 0.5);
	transform: translateY(-0.4rem);
}

.btn[disabled]:hover {
	cursor: not-allowed;
	box-shadow: none;
	transform: none;
}

input {
	padding: 10px 15px;
	border: 0.1rem solid rgba(86, 165, 235, 0.5);
	margin-bottom: 1.5rem;
	outline: 0;
	height: 3.5rem;
	width: 20rem;
}

input::placeholder {
	color: #aaa;
}